*{
    margin:0;
    padding:0;
    outline: none;
}

html,#root,body{
    width: 100%;
    height: 100%;
}
#root{
    width: 100%;
    height: 100%;
}


.logInMain{
    width:100%;
    height:100%;
    display: flex;
  }

.logoContainer{
    width:500px;
    height:100%;
    background-color: #F4F6F6;
    opacity: 0.9;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .title-login{
    color: #5DADE2;
    padding: 20px;
    font-size: 60px;
    margin-top: 120px;
  }

  .loginContainer{
      margin-top: 80px;
      margin-left: 80px;
  }

  .formContainer{
      display: inline-block;
      padding: 20px;
      border-radius: 20px;
      text-align: center;
      box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
  }

  input{
      padding: 10px;
      width: 300px;
      border-radius: 10px;
      outline: none;
      border:1px solid grey;
      font-size: 20px;
   }

   h1.loginText{
       margin:0 0 20px 0;
       font-size: 50px;
   }

   input:focus{
    border:1px solid #5DADE2;
   }

   .submitButton{
       background-color: #A3E4D7;
       cursor:pointer;
       border:none;
       font-weight: bold;
   }

   .submitButton:focus{
    border:none;
   }

   .submitButton:hover{
    background-color: #7aeed7;
   }


   .forgotPass{
       margin:10px;
       color:#2E86C1;
   }

   .gotoSignUp{
    padding: 5px 50px 8px 50px;
    width: 300px;
    border-radius: 10px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    background-color: #2E86C1;
    cursor:pointer;
    font-weight: bold;
   }

   .gotoSignUp:hover{
    background-color: #2874A6;
   }



  